<%- include('header', {title: "Prior Authorization Submission Request Form"}) -%>

<div class="center-div">
    <div class="container w-80 border py-3">
        <div class="text-center title pb-2">
            <img src="/assets/Page_under_maintainence.png" class="large-image" >
        </div>
    </div>
</div>

<%- include('footer') -%>