</div>
<img src="/assets/edited-image.png" alt="Footer Image" class="background-image">
</body>
<footer class="footer">
    <p>&copy; <%= new Date().getFullYear() %> Salesforce, Inc. All rights reserved. 
        | <a href="https://www.salesforce.com/in/company/privacy/" class="privacy-link">Privacy</a>
      </p>
  </footer>
</html>