<%- include('header') -%>

<div class="text-center center-div" id="providerLogin">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Welcome to Utilization Management Portal</h2>
            <span>Please Configure Provider and Payer</span>
        </div>
        <form action="/provider-login" method="POST" class="pt-2">
            <div class="pt-3">
                <button type="submit" class="btn btn-primary rounded-pill">Login to Provider</button>
            </div>
            <div class="subtext">
                <% if (providerConfiguredAlready) { %>
                    <div class="available">
                        <span class="icon">✔️</span> provider configured successfully
                    </div>
                <% } %>
            </div>
        </form>
        <form action="/payer-login" method="POST" class="pt-2">
            <div class="pt-3">
                <button type="submit" class="btn btn-primary rounded-pill">Login to Payer</button>
            </div>
            <div class="subtext">
                <% if (payerConfiguredAlready) { %>
                    <div class="available">
                        <span class="icon">✔️</span> payer configured successfully
                    </div>
                <% } %>
            </div>
        </form>
        <div class="pt-3">
            <button id="enterUMWorkspaceBtn" class="btn btn-primary rounded-pill" <% if (!payerConfiguredAlready || !providerConfiguredAlready) { %> disabled <% } %>>Enter to UM workspace</button>
        </div>
    </div>
</div>

<%- include('footer') -%>
<script>
    //redirects page to oauth URL using window
    document.getElementById('enterUMWorkspaceBtn').addEventListener('click', function() {
        window.location.href = '/UM-Workspace';
    });
</script>