<div class="json-container active">
    <h6>JSON Input for <%= type %></h6>
    <textarea id="jsonInput" rows="10" cols="150" placeholder="Enter your JSON here..."></textarea>
    <br>
    <button onclick="validateAndSubmitJson()">Submit</button>
    <p id="validationMessage" style="color:red;"></p>
</div>