<%- include('header') -%>
<div class="text-center center-div" id="baseLogin">
    <div class="container w-45 border py-5">
        <div class="title pb-5">
            <h1 class="heading-style">Welcome to the DTR Portal</h1>
            <span>Please provide the Questionnaire Id</span>
        </div>
        <form id="inputForm" class="pt-2">
            <label for="userInput">Input:</label>
            <input type="text" id="userInput" name="userInput" required>
            <button type="submit">Submit</button>
        </form>

        <div id="spinner" class="spinner" style="display: none;"></div>
        <div id="backdrop" class="backdrop" style="display: none;"></div>
    </div>
    </div>
<%- include('footer') -%>
<script>
    const form = document.getElementById('inputForm');
    const spinner = document.getElementById('spinner');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        
        spinner.style.display = 'block';
        backdrop.style.display = 'block';

        const userInput = document.getElementById('userInput').value;

        try {
            const response = await fetch('/launchDtr', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userInput })
            });

            const resultPage = await response.text();

            // Replace the current page with the response
            document.body.innerHTML = resultPage;
        } catch (error) {
            console.error('Error:', error);
            alert('Something went wrong!');
        } finally {
            spinner.style.display = 'none';
            backdrop.style.display = 'none';
        }
    });
</script>

<script>
    function showStep(stepIndex) {
        document.querySelectorAll('.step').forEach((step, index) => {
            step.classList.toggle('active', index === stepIndex);
        });
    }
</script>

