<%- include('header') -%>

<div class="text-center center-div">
    <div class="container w-50 border py-5">
        <h3>OAuth Authentication Successful</h3>
        <p>Your Access Token is:</p>
        <textarea readonly class="form-control" rows="5"><%= token %></textarea>
        <button id="callIpBtn" class="btn btn-primary mt-3">Call Integration Procedure</button>
        <div id="spinner" class="spinner" style="display: none;"></div>
        <div id="backdrop" class="backdrop" style="display: none;"></div>
        <div id="responseContainer" class="mt-4"></div>
    </div>
</div>

<%- include('footer') -%>

<script>
    //call post call-ip
    document.getElementById('callIpBtn').addEventListener('click', function() {

        var spinner = document.getElementById('spinner');
        var backdrop = document.getElementById('backdrop');

        // Show the spinner
        spinner.style.display = 'block';
        backdrop.style.display = 'block';

        fetch('/call-ip', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            const responseContainer = document.getElementById('responseContainer');
            if (data.success) {
                //responseContainer.innerHTML = `<pre>${JSON.stringify(data.data, null, 2)}</pre>`;
                // Hide the spinner after receiving the response
                spinner.style.display = 'none';
                backdrop.style.display = 'none';
                window.location.href = "/payer/crdResponse?data="+JSON.stringify(data.data);
            } else {
                responseContainer.innerHTML = `<p>Error: ${data.error}</p>`;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Hide the spinner after receiving the response
            spinner.style.display = 'none';
            backdrop.style.display = 'none';
        });
    });
</script>