.center-div{
    padding-top: 10%;
}

.btn.btn-sucess{
    padding:.4em 2em;
}

form{
    padding:0 3em;
}

#providerLogin .title>span{
    font: size 0.8em;
}

body {
    background-image: url("assets/get-more-from-digital-cnx21-zoom-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    box-shadow: 1px 1px 1px lightblue;
    background-color: white;
    border-color: black;
    border-style: double;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    width :max-content;
  }

  .card.warning {
    border-color: #eb300a;
    background-color: #fab3a5;
  }

  .card.info {
    border-color: rgb(2, 55, 31);
    background-color: #a5dfad;
  }

  .card-header h3 {
    margin: 0 0 10px;
  }

  .card-body p {
    margin: 10px 0;
  }

  .card-link {
    color: #007bff;
    text-decoration: none;
  }

  .card-link:hover {
    text-decoration: underline;
  }

  .cardContainer{
    padding-top: 10%;
    padding-left: 25%;
  }

  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1); /* Light gray */
    border-radius: 50%;
    border-top: 8px solid #3498db; /* Blue color */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px; /* Half of width */
    margin-top: -25px; /* Half of height */
    z-index:1001;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  z-index: 1000; /* Make sure backdrop is below the spinner */
}

.subtext {
  margin-top: 5px;
  font-size: 14px;
}
.available {
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.available .icon {
  margin-right: 5px;
}

.json-container {
  display: none;
  margin-top: 20px;
}
.json-container.active {
  display: block;
}

.header-box {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  width:700px;
}